@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");

:root{
    --color-primario-900: #3C315B;
    --color-primario-500: #AB9FF2;
    --color-primario-150: #E2DFFE;    
    --color-primario-100: #F5F2FF;
    --color-primario-50: #FDFCFE;
    
}

/* Normalizacion */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Nunito Sans", sans-serif;
}

body{
    background-color: var(--color-primario-100);
}

ul{
    list-style: none;
}

.content-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: #3C315B;
    width: 1500px;
    padding: 0;
    margin: 0px;
}

.header{
    display: flex;
    justify-content: center;
    flex-direction: row;
    height: 110px;
    padding-left: 49px;
    padding-right: 60px;
}

.header_logo-container-largo{
    display: flex;
    width: 160px;
    height: 30px;
    padding: 0px;
}

.header_logo-container-corto{
    display: flex;
    display: none;
}

.header_nav-list{
    display: flex;
    flex-direction: row;
    background-color: #FDFCFE;
    border-radius: 90px;
    height: 60px;
    width: 610px;
    font-weight: 400;
    padding: 7px;
}

.header_nav-list{
    margin-left: 15vh;
    padding-left: 2vh;;
}

.header_nav-item{
    padding: 12px 24px;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 6px;
    font-weight: 650;
}

.header_nav-item:hover{
    background-color: #E2DFFE;
    border-radius: 40px;
    cursor: pointer;
}

.header__actions{
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
}

.btn-primary{
    padding: 20px 30px;
    border-radius: 100px;
    background-color: var(--color-primario-500);
    font-weight: 650;
    color: #3C315B;
}

.btn-primary:hover{
    background-color: var(--color-primario-150);
    cursor: pointer;
}

.btn-secondary{
    display: flex;
    padding: 19px;
    border-radius: 100px;
    background-color: var(--color-primario-50);
    width: 56px;
    height: 56px;
    font-size: 19px;
    border: none;
}

.btn-list{
    display: none;
}

.btn-secondary:hover{
    background-color: var(--color-primario-150);
    cursor: pointer;
}

@media  and (max-width: 1554px) {
    
}

/*---1277px cambia nav por icon list---*/
@media screen and (max-width: 1277px) {
    nav {
        display: none;
    }
    .btn-list{
        display:flex;
    }
    .btn-search{
        display: none;
    }
}

@media screen and (max-width: 766px){
    .content-container{
        min-width: none;
    }
    .header_logo-container-largo{
        display: none;
    }
    .header{
        height: 9px;
        margin-top: 9px;
        padding: 30px;
        min-width: 50px;
    }
    .header_logo-container-corto{
        display: flex;
        transform: scale(0.32);
        transform-origin: top left;
        padding: 0px;
        margin-left: 20px;
        margin-top: 60px;
    }
    .header__actions{
        transform: scale(0.85) ;
    }
}



@media screen and (width > 270px){
    
}